*{
    margin:0;
    padding-inline-start: 0;
}

html{
    
    background-color:beige;
    border: 10px solid gainsboro;
}
body{
}
.profile-header{
    background-color:limegreen ;
}
.profile-pic{
    width:100px;
    height:100px;
    background-color: limegreen;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto 10px;
}

.name{
    color: black;
    font-size: 20px;
    background-color: limegreen;
    padding: 10px;
    padding-left: 220px;
}
.role{
     color: black;
    font-size: 15px;
    background-color: limegreen;
    padding: 5px;
    padding-left: 200px;
}
h3{
    color:darkblue;
    padding-left: 10PX;
    border: px solid bisque;
}
@media (max-width:750px){
    body{
        background-color:azure;
    }
}
