*{
    margin:0;
    padding-inline-start: 0;
}

html{
    
    background-color:beige;
    border: 10px solid gainsboro;
}
body{
}
.profile-header{
    background-color:limegreen ;
}
.profile-pic{
    width:100px;
    height:100px;
    background-color: limegreen;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto 10px;
}

.name{
    color: black;
    font-size: 20px;
    background-color: limegreen;
    padding: 10px;
    text-align: center;
}
.role{
     color: black;
    font-size: 15px;
    background-color: limegreen;
    padding: 5px;
    text-align: center
}


.section-about{
    margin: 5px;
    padding: 2px;
    border: 2px solid darkgray;
    border-radius: 5px;
    background-color: white;
}
.section-skills{
    margin: 5px;
    padding: 2px;
    border: 2px solid darkgray;
    border-radius: 5px;
    background-color: white;

}
.section-project{
    margin: 5px;
    padding: 2px;
    border: 2px solid darkgray;
    border-radius: 5px;
    background-color: white;
}
.section-contact{
    margin: 5px;
    padding: 2px;
    border: 2px solid darkgray;
    border-radius: 5px;
    background-color: white;
}

@media (max-width:750px){
    body{
        background-color:lightgray;
        
    }
}
