*{
    margin:0;
    padding-inline-start: 0;
}

html{
    
    background-color:beige;
    border: 10px solid gainsboro;
}
body{
}
.profile-header{
    background-color:limegreen ;
}
.profile-pic{
    width:100px;
    height:100px;
    background-color: limegreen;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto 10px;
}

.name{
    color: black;
    font-size: 20px;
    background-color: limegreen;
    padding: 10px;
    text-align: center;
}
.role{
     color: black;
    font-size: 15px;
    background-color: limegreen;
    padding: 5px;
    text-align: center
}


.section-about{
    margin: 5px;
    padding: 2px;
    border: 2px solid darkgray;
    border-radius: 5px;
    background-color: white;
}
#text{
    padding: 20px;
    
}
.section-skills{
    margin: 5px;
    padding: 2px;
    border: 2px solid darkgray;
    border-radius: 5px;
    background-color: white;

}

.section-project{
    margin: 5px;
    padding: 2px;
    border: 2px solid darkgray;
    border-radius: 5px;
    background-color: white;
}
.table{
    width: 100%;
    border-collapse: collapse;
    left:3px;
    

}
.tittle{
    
    background-color: limegreen;
    
}



.section-contact{
    margin: 5px;
    padding: 2px;
    border: 2px solid darkgray;
    border-radius: 5px;
    background-color: white;
}
  input[type="text"],
    input[type="email"],

textarea{
    width: 100%;
    height: 15px;
    padding: 10px;
    border: 1px solid darkgray;
    
}
button{
    background-color: limegreen;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
}
.end{
    margin: 5px;
    padding: 2px;
    border: 2px solid darkgray;
    border-radius: 5px;
    background-color: limegreen;
    text-align: center;
    color: black;
    font-size: 20px;
    
}
.sample{
    
    color: black;
    font-size: 15px ;
}

@media (max-width:750px){
    body{
        background-color:lightgray;
        
    }
}
